.footer {
  background-color: #222;
  color: #fff;
  padding: 3em;
  text-align: center;
}

.social_list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social_list li {
  margin: 0 1em;
}

.social_list li:hover {
  color: #6d6cb9;
}

.social_list svg {
  font-size: 1.5em;
  cursor: pointer;
}

.copy_right {
  margin-top: 2em;
}

.copy_right span {
  font-weight: bold;
  color: #6d6cb9;
}

@media only screen and (max-width: 700px) {
  .footer{
    height: 4%;
    font-size: 1.1vh;
    overflow: hidden;
  }
  
  .copy_right {
    margin-top: 1em;
  }

  .social_list svg {
    font-size: 2em;
  }

}